In [1]:
import pandas as pd

## Creating DataFrame from CSV file

In [2]:
df = pd.read_csv('./files/weather_data.csv')
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

## Creating DataFrame from Excel file

In [3]:
df2 = pd.read_excel("./files/Book1.xlsx",'Sheet1')
df2.head()

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain

## Createing DataFrame Using Python Dictionary

In [4]:
weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Creating DataFrame using Python Tuple's List

In [6]:
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow'),
    ('1/4/2017', 24, 7, 'Snow'),
    ('1/5/2017', 32, 4, 'Rain'),
    ('1/6/2017', 31, 2, 'Sunny'),
]

df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Creating DataFrame using Python Dictionary List

In [7]:
weather_data = [
    {'day':'1/1/2017', 'temperature':32, 'windspeed':6, 'event':'Rain'},
    {'day':'1/2/2017', 'temperature':35, 'windspeed':7, 'event':'Sunny'},
    {'day':'1/3/2017', 'temperature':28, 'windspeed':2, 'event':'Snow'},
    {'day':'1/4/2017', 'temperature':24, 'windspeed':7, 'event':'Snow'},
    {'day':'1/5/2017', 'temperature':32, 'windspeed':4, 'event':'Rain'},
    {'day':'1/6/2017', 'temperature':31, 'windspeed':2, 'event':'Sunny'},
]

df = pd.DataFrame(weather_data)
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain